<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>请按照接口文档，完善请求参数进行请求</h1>
            </hgroup>
        </div>
    </section>
</div>
