@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <section class="content-primary col-sm-4">
            <div id="homepage-feature" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#homepage-feature" data-slide-to="0" class="active"></li>
                    <li data-target="#homepage-feature" data-slide-to="1"></li>
                    <li data-target="#homepage-feature" data-slide-to="2"></li>
                    <li data-target="#homepage-feature" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/js/vendor/holder.js/600x480/auto/vine/textmode:literal" alt="Holder Image">
                    </div>
                    <div class="item">
                        <img src="/js/vendor/holder.js/600x480/auto/lava/textmode:literal" alt="Holder Image">
                    </div>
                    <div class="item">
                        <img src="/js/vendor/holder.js/600x480/auto/sky/textmode:literal" alt="Holder Image">
                    </div>
                    <div class="item">
                        <img src="/js/vendor/holder.js/600x480/auto/#f39017:#fff/textmode:literal" alt="Holder Image">
                    </div>
                </div><!-- /.carousel-inner -->
                <!-- Carousel Controls -->
                <a class="left carousel-control" href="#homepage-feature" data-slide="prev">
                    <span class="icon fa fa-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#homepage-feature" data-slide="next">
                    <span class="icon fa fa-chevron-right"></span>
                </a>
            </div><!-- /#homepage-feature.carousel -->

            <h2>Featured Content</h2>
            <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget.</p>
            <p><a class="btn btn-primary pull-right" href="#">Learn more <span class="icon fa fa-arrow-circle-right"></span></a></p>

        </section>
        <section class="content-secondary col-sm-4">

            <h3>Welcome!</h3>
            <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
            <p><a class="btn btn-primary pull-right" href="#">Read more <span class="icon fa fa-arrow-circle-right"></span></a></p>

            <h3>Recent Updates</h3>
            <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
            <p><a class="btn btn-primary pull-right" href="#">Read more <span class="icon fa fa-arrow-circle-right"></span></a></p>

            <h3>And another thing</h3>
            <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
            <p><a class="btn btn-primary pull-right" href="#">Read more <span class="icon fa fa-arrow-circle-right"></span></a></p>

        </section>
        <section class="content-tertiary col-sm-4">
            <h4>Don't Miss!</h4>
            <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
            <p><a class="btn btn-primary pull-right" href="#">Read more <span class="icon fa fa-arrow-circle-right"></span></a></p>
            <h4>Check it out</h4>
            <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
            <p><a class="btn btn-primary pull-right" href="#">Read more <span class="icon fa fa-arrow-circle-right"></span></a></p>
            <h4>Finally</h4>
            <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
            <p><a class="btn btn-primary pull-right" href="#">Read more <span class="icon fa fa-arrow-circle-right"></span></a></p>
         </section>
    </div>
</div>
