<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--短信账号-->
  <add key="SmsAccount" value="bihusms"/>
  <!--短信密码-->
  <add key="SmsPassword" value="0186d62ebdc2733d908a796e7566d916"/>
  <!--短信中心-->
  <add key="SmsCenter" value="http://qa.sms.91bihu.me/smscenter.asmx"/>
  <!--短信中心发送短信方法名-->
  <add key="SmsCenterSendSmsMethod" value="SubmitSms"/>
  <!--图片站点-->
  <add key="ImageServer" value="http://111.198.29.215:20004/"/>
  <add key="Resource" value="http://192.168.1.17:8001/"/>
  <!--app密钥-->
  <add key="SecretKey" value="91bihu1018lingxiu2015xinguigu0aA"/>
  <!--天气预报接口地址-->
  <add key="WeatherApiAddr" value="http://apistore.baidu.com/microservice/weather"/>
  <!--尾号限行-->
  <add key="TailNumber" value="不限行,2和7,3和8,4和9,5和0,1和6,不限行"/>
  <add key="PageSize" value="25"/>
  <add key="OrderMaxNum" value="20"/>
  <!--接口-->
  <add key="OrderCenter" value="http://t.order.servercenter.91bihu.com/"/>
  <add key="OrderCenterMe" value="http://t.order.servercenter.91bihu.com/"/>
  <add key="GoodsCenter" value="http://qa.gcenter.91bihu.me/"/>


  <!--测试环境-->
  <add key="UserCenter" value="http://qa.ucenter.91bihu.me/"/>
  <add key="BaoxianCenter" value="http://qa.bxcenter.91bihu.me/"/>

  <add key="AuthUrl" value="/Account/Login" />
  <add key="AuthSaveKey" value="Account" />
  <add key="AuthSaveType" value="Session" />

  <!--微信相关 begin-->
  <add key="WeixinToken" value="1q2w3e91BIHU"/>
  <add key="WeixinEncodingAESKey" value="R6rCJnmUp7cxCqszyySkzga2M2w3qSnNFfrJ8cjXIxC"/>

  <add key="WeixinAppId" value="wxae29545104ff81fb"/>
  <add key="WeixinAppSecret" value="b7593f0fcc0ec3f7c5e8ef91934e03b5"/>

  <add key="WeixinAgentUrl" value="外部代理Url"/>
  <add key="WeixinAgentToken" value="外部代理Token"/>
  <add key="WeixinAgentWeiweihiKey" value="外部代理SouideaKey"/>

  <add key="WeixinPay_Tenpay" value="WeixinPay_Tenpay"/>
  <add key="WeixinPay_PartnerId" value="WeixinPay_PartnerId"/>
  <add key="WeixinPay_Key" value="R6rCJnmUp7cxCqszyySkzga2M2w3qSnNFfrJ8cjXIxC"/>
  <add key="WeixinPay_AppId" value="wxae29545104ff81fb"/>
  <add key="WeixinPay_AppKey" value="b7593f0fcc0ec3f7c5e8ef91934e03b5"/>
  <add key="WeixinPay_TenpayNotify" value="http://waptest.91bihu.com/Cart/WeiXin/PayNotifyUrl"/>

  <add key="TenPayV3_MchId" value="1228646702"/>
  <add key="TenPayV3_Key" value="4afed1b0d966be6e902c412efe837e2a"/>
  <add key="TenPayV3_AppId" value="wxae29545104ff81fb"/>
  <add key="TenPayV3_AppSecret" value="b7593f0fcc0ec3f7c5e8ef91934e03b5"/>
  <add key="TenPayV3_TenpayNotify" value="http://waptest.91bihu.com/Cart/WeiXin/PayNotifyUrl"/>
  <add key="OAuthApi" value="http://m.91bihu.com"/>
  <add key="MessageCenter" value="http://qa.mcenter.91bihu.me/messagecenter.asmx" />
  <add key="BxBaoJiaOrHeBaoName" value="bxquote" />
  <add key="BxXuBaoName" value="bx_renewal" />
  <add key="BxBalance" value="bx_balance" />
  <add key="BjdMobile" value="bx_mobilequote" />
  <add key="BxHeBaoAgainName" value="bx_retrysubmit" />
  <!--上传图片调中心消息队列-->
  <add key="BxPicName" value="bx_uploadpicture" />
  <!--车辆信息队列名-->
  <add key="BxVehicle" value="bx_findvehicle" />
  <add key="BxCancelSubmit" value="bxrniqueue"/>
  <add key="BxClaimQueue" value="bx_insurancerecord"/>
  <add key="BxVechileQueue" value="bx_findcarmodels"/>
  <add key="BxVechileQueue2" value="bx_carmodelsv2"/>
  <add key="BxVechileQueueNewCar" value="bx_findcarmodels2"/>
  <add key="FindMoldName" value="bx_findcarmodelsname"/>
  <!--安心核保-->
  <add key="BxAnXinHeBao" value="bx_submit_ax_v2" />
  <add key="bxAnXinTeYue" value="bx_proposalGenerateSpecial" />
  <add key="bxAnXinGaoZhi" value="bx_Informing" />
  <!--新车备案-->
  <add key="BxCarRecord" value="bx_carRecord" />
  
  <!--app嵌套页面-->
  <add key="mhoust" value="wap.91bihu.com"/>
  <!--<add key="CarInsuranceGetSubmitInfo"  value="http://i.91bihu.com/api/CarInsurance/GetSubmitInfo?licenseno={0}&intentioncompany={1}&agent={2}&seccode={3}&custkey={4}" />
  <add key="CarInsuranceGetPriceInfo"  value="http://i.91bihu.com/api/CarInsurance/GetPrecisePrice?licenseno={0}&intentioncompany={1}&agent={2}&seccode={3}&custkey={4}" />-->
  <!--<add key="ImageServer" value="http://qa.image.91bihu.com"/>-->
  <add key="ImageUpload" value="http://qa.upload.91bihu.me"/>

  <!--获取费率接口-->
  <add key="RateCenter" value="http://qa.a.91bihu.me"/>
  <add key="RateCentertest" value="http://qa.a.91bihu.me"/>
  <!--接口白名单-->
  <add key="childagentWhitelist" value="31,32,36,54,55,57,71,72,182"/>
  <!--同一辆车的限制频率-->
  <add key="carRateLimit" value="100"/>
  <!--短信内容插入数据表接口-->
  <add key="SqlInterfaceUrl" value="http://qa.a.91bihu.me/api/EnterpriseAgent/AddOrUpdateSmsAccountContent"/>
  <!--每天直客的限制频率-->
  <add key="ZhiKeRateLimit" value="200"/>

  <add key="StartLimitTime" value="23:59"/>
  <add key="EndLimitTime" value="0:01"/>
  <add key="SpecialLimitCount" value="2"/>
  <!--消息中心链接地址-->
  <!--线上地址bmc.91bihu.com-->
  <add key="MsgCenterUrl" value="http://qa.a.91bihumessage.me"/>
  <add key="BaoBeiGscUrl" value="http://91bihu7.3322.org:8017"/>
  <add key="BaoBeiZhlhUrl" value="http://222.128.117.99:10016"/>
  <!--默认0：:中华联合  1：国寿财-->
  <add key="ChooseBaoBei" value="0"/>
  <!--移动设备的加密串-->
  <add key="MobileSecKey" value="18538CF6-C54A-49D0-935A-4E847A44A893"/>

  <!--App是否更新，0不更新1更新-->
  <add key="IsUpdate" value="0"/>
  <!--普通接口校验-->
  <add key="CheckApi" value="0"/>
  <!--app接口校验-->
  <add key="CheckApp" value="0"/>
  <!--接口调用统计 0 :否  1：是-->
  <add key="CanUseInterfaceStatistics" value="0"/>
  <add key="RenewalStatistics" value="1"/>
  <add key="CanCallOnly" value="http://qa.interfaces.com,http://it.91bihu.me,http://192.168.5.88:8099/"/>
  <add key="baoxianCenterApi" value="http://192.168.1.19:5790/"/>
  <add key="upFloatPoint" value="0.3"/>
  <add key="downFloatPoint" value="0.3"/>
  <add key="SystemCrmUrl" value="http://qa.a.91bihu41.me"/>
  <add key="SystemSelfUrl" value="http://qa.interfaces.com"/>
  <add key="SystemItUrl" value="http://qa.interfaces.com"/>
  <!--是否调用院院的摄像头分配接口-->
  <add key="IsUrlDistributed" value="1"/>
  <!--上传图片次数限制，0代表无限次-->
  <add key="UpImgCount" value="150"/>
  <add key="maxAgentNums" value="10000000"/>
  <!--同一批次用逗号分隔，不同的批次用分号分割,每组第一个是主摄像头-->
  <add key="moreBindings" value=""/>

  <!--广州人财保的代理Id：线上100090-->
  <add key="gzcbAgentId" value="100090"/>
  <add key="ReInfoChance" value="-1"/>
  <!--续保概率失败的保司Source-->
  <add key="ReInfoFailedSource" value="1,2,4,8"/>
  <!--续保屏蔽关系人的保司Source-->
  <add key="ReInfoNoRelationSource" value="2"/>
  <!--LogBuriedPoint配置-->
  <add key="LogSwitch" value="1"/>
  <!--中心配置站点-->
  <add key="CenterConfig" value="http://config.91bihu.com"/>
  <!--特约检索队列名称-->
  <add key="SpecialOption" value="bx_specialoption" />
  <!--驾意队列名称-->
  <add key="JYOption" value="bx_riskdriving" />
  <!--仅新华保险特殊判断，等客户上线再将此配置去掉-->
  <add key="SpecialXinHua" value="102" />
  <!--数据采集站点和指定的db-->
  <add key ="MetricsAddress" value="192.168.1.181"/>
  <add key ="MetricsDbName" value="insurance"/>
  <add key="ReinfoAgentCity" value="1;1,99999"/>
  <!--是否补充身份证后6位：1是0否-->
  <add key="IsAddIdCardBack6" value="1"/>
  <!--演示代理Id-->
  <add key="ProxyAgent" value="102"/>
  <!--演示车辆-->
  <add key="ProxyLicense" value="浙A7VS12,浙AY379Y,浙AQ137H,浙A7VS12,浙AY379Y,LBV5S1100HSL95342,LE4WG4CB8JL478276,LBVHZ3105HMJ18372"/>
  
  <!--松年从crm取7个配置-->
  <!--是否从redis中获取-->
  <add key="IsGetFromRedis" value="0"/>
  <!--摄像头分配拦截ID-->
  <add key="DistributeInterceptIds" value="12219,12280"/>
  <add key="SendMessage" value="http://qa.a.91bihumessage.me"/>
  <!--摄像头进店>车型过滤设置-->
  <add key="CameraCarModelsKey" value="redisKeyCameraCarModels"/>
  <add key="sealmanIndexRedirs" value="redisSealmanIndexKey"/>
  <add key="sealmanRedirs" value="redisSealmanKey"/>
  <add key="sealmanLeaveRedirs" value="redisSealmanLeaveKey"/>

  <!--续保清空关系人信息-->
  <add key="ReInfoClearRelation" value="102,2.4;2668,4.8"/>
  
  <!--南北机房url配置-->
  <add key="JiFangUrl" value="http://qa9.interfaces.com/"/>
  <!--新url调用地址，南北方需区分-->
  <add key="CenterNewUrl" value="http://192.168.1.19:9100/"/>

  <!--车店连呼坐席Id特殊配置-->
  <add key="CLHZuoXiAgentId" value="15831,"/>
</appSettings>