<?xml version="1.0" encoding="utf-8"?>
<appSettings  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--测试环境-->
  <add key="UserCenter" value="http://qa.ucenter.91bihu.me/"  xdt:Transform="Replace"/>
  <add key="BaoxianCenter" value="http://qa.bxcenter.91bihu.me/"  xdt:Transform="Replace"/>
</appSettings>